In [1]:
print('hello world')

hello world

In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv(r'C:\Users\LENOVO\MachineLearningProhects\ML_DL_Regression_End_To_End_Project\data\raw\study_performance.csv')

In [6]:
df.shape

(1000, 8)

In [7]:
df.columns

Index(['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course', 'math_score', 'reading_score',
       'writing_score'],
      dtype='object')

In [8]:
df.head(1)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74

In [17]:
df['test_preparation_course'].value_counts()

test_preparation_course
none         642
completed    358
Name: count, dtype: int64